## Sync do vault Obsidian
OBSIDIAN_VAULT="C:/Users/gamerPc/Documents/00_appClaude/obsidian-vauch/Produtos_Ativos/LM_Technologia"

## E-mail transacional (Resend)
RESEND_API_KEY=""
LEAD_TO_EMAIL="contato@lmtechnologia.com.br"

## Analytics
NEXT_PUBLIC_PLAUSIBLE_DOMAIN=""
